<!-- src/app/app.component.html -->
<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>

          <ng-container *ngIf="isProfessor">
            <ion-item routerLink="/Alunocadastro" routerDirection="root">Cadastro de Alunos</ion-item>
            <ion-item routerLink="/Agendamentos" routerDirection="root">Agendamentos</ion-item>
            <ion-item routerLink="/Relatórios" routerDirection="root">Relatórios</ion-item>

          </ng-container>

          <ng-container *ngIf="isResponsavel">
            <ion-item routerLink="/responsavel" routerDirection="root">Dashboard</ion-item>
            <ion-item routerLink="/atendimentos" routerDirection="root">Atendimentos</ion-item>
          </ng-container>

          <ion-item (click)="logout()">Sair</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
